.logo
    font-family: "Exo"
    font-weight: 600
    color: var(--v-accent-base)

.logo-white
    font-family: "Exo"
    font-weight: 600
    color: white

div
    > .v-divider--vertical
        display: inline
        vertical-align: middle

.v-icon.align-with-text
    vertical-align: text-bottom !important

#feedbackfin__container
    font-family: 'Roboto'

.v-skeleton-loader > .v-skeleton-loader__bone
    background: transparent !important
