# flyctl launch added from .gitignore
**/.DS_Store
**/node_modules
dist
**/screens
**/tests_output
**/firebase-emulator
**/firebase-export-*
**/.firebase
**/ganache-db
**/coverage
seeders/private

**/functions/report*

# local env files
**/.env.*
**/functions/.runtimeconfig.json
ganache-db
**/run/.env
.git/

firebase-export-*
.firebase

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Editor directories and files
**/.idea
**/.vscode
**/get-pip.py
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/*.log
**/.firebase/*.cache
**/output.js

**/run/helm_chart_values/pgbouncer-values.yaml

# flyctl launch added from node_modules/secp256k1/src/secp256k1/.gitignore
node_modules/secp256k1/src/secp256k1/**/bench_inv
node_modules/secp256k1/src/secp256k1/**/bench_ecdh
node_modules/secp256k1/src/secp256k1/**/bench_ecmult
node_modules/secp256k1/src/secp256k1/**/bench_sign
node_modules/secp256k1/src/secp256k1/**/bench_verify
node_modules/secp256k1/src/secp256k1/**/bench_schnorr_verify
node_modules/secp256k1/src/secp256k1/**/bench_recover
node_modules/secp256k1/src/secp256k1/**/bench_internal
node_modules/secp256k1/src/secp256k1/**/tests
node_modules/secp256k1/src/secp256k1/**/exhaustive_tests
node_modules/secp256k1/src/secp256k1/**/gen_context
node_modules/secp256k1/src/secp256k1/**/*.exe
node_modules/secp256k1/src/secp256k1/**/*.so
node_modules/secp256k1/src/secp256k1/**/*.a
!node_modules/secp256k1/src/secp256k1/**/.gitignore

node_modules/secp256k1/src/secp256k1/**/Makefile
node_modules/secp256k1/src/secp256k1/**/configure
node_modules/secp256k1/src/secp256k1/**/.libs
node_modules/secp256k1/src/secp256k1/**/Makefile.in
node_modules/secp256k1/src/secp256k1/**/aclocal.m4
node_modules/secp256k1/src/secp256k1/**/autom4te.cache
node_modules/secp256k1/src/secp256k1/**/config.log
node_modules/secp256k1/src/secp256k1/**/config.status
node_modules/secp256k1/src/secp256k1/**/*.tar.gz
node_modules/secp256k1/src/secp256k1/**/*.la
node_modules/secp256k1/src/secp256k1/**/libtool
node_modules/secp256k1/src/secp256k1/**/.deps
node_modules/secp256k1/src/secp256k1/**/.dirstamp
node_modules/secp256k1/src/secp256k1/**/*.lo
node_modules/secp256k1/src/secp256k1/**/*.o
node_modules/secp256k1/src/secp256k1/**/*~
node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h
node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h.in
node_modules/secp256k1/src/secp256k1/**/src/ecmult_static_context.h
node_modules/secp256k1/src/secp256k1/**/build-aux/config.guess
node_modules/secp256k1/src/secp256k1/**/build-aux/config.sub
node_modules/secp256k1/src/secp256k1/**/build-aux/depcomp
node_modules/secp256k1/src/secp256k1/**/build-aux/install-sh
node_modules/secp256k1/src/secp256k1/**/build-aux/ltmain.sh
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/libtool.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/lt~obsolete.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltoptions.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltsugar.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltversion.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/missing
node_modules/secp256k1/src/secp256k1/**/build-aux/compile
node_modules/secp256k1/src/secp256k1/**/build-aux/test-driver
node_modules/secp256k1/src/secp256k1/**/src/stamp-h1
node_modules/secp256k1/src/secp256k1/**/libsecp256k1.pc

# flyctl launch added from node_modules/workerpool/examples/embeddedWorker/.gitignore
node_modules/workerpool/examples/embeddedWorker/**/dist
node_modules/workerpool/examples/embeddedWorker/**/node_modules
