.DS_Store
node_modules
/dist
screens/
tests_output/
firebase-emulator/
coverage/

functions/report*

# local env files
.env.*
functions/.runtimeconfig.json
/ganache-db

/firebase-export-*
/.firebase

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
get-pip.py
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.firebase/*.cache
output.js

run/helm_chart_values/pgbouncer-values.yaml
