.DS_Store
node_modules
/dist
screens/
tests_output/
firebase-emulator/

functions/report*

# local env files
.env.*
functions/.runtimeconfig.json
/ganache-db

/firebase-export-*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.firebase/*.cache
output.js
