{
    storage file_system {
        root /data
    }

    on_demand_tls {
        ask http://ethernal.internal:8080/api/caddy/validDomain
    }
}

blog.tryethernal.com {
    redir * https://tryethernal.com/blog{uri} permanent
}

(common) {
    header {
        Apx-Incoming-Host "{host}"
    }

    @checkVerifyStatus {
        path /api
        query module=contract
        query action=checkverifystatus
        query apikey=*
    }
    handle @checkVerifyStatus {
        rewrite * /api/contracts/verificationStatus
        reverse_proxy ethernal.internal:8080
    }

    @getSourceCode {
        path /api
        query module=contract
        query action=getsourcecode
        query apikey=*
    }
    handle @getSourceCode {
        rewrite * /api/contracts/sourceCode
        reverse_proxy ethernal.internal:8080
    }

    @getAbi {
        path /api
        query module=contract
        query action=getabi
        query apikey=*
    }
    handle @getAbi {
        rewrite * /api/contracts/getabi
        reverse_proxy ethernal.internal:8080
    }

    handle_path /ingest/* {
        reverse_proxy https://us.i.posthog.com {
            header_up Host us.i.posthog.com
        }
    }

    handle /api/2/* {
        reverse_proxy https://sentry.tryethernal.com {
            header_up Host sentry.tryethernal.com
        }
    }

    @fallbackApi {
        path /api* /webhooks*
    }
    handle @fallbackApi {
        reverse_proxy ethernal.internal:8080
    }

    handle_path /bull* {
        reverse_proxy ethernal.internal:8080
    }

    handle /app* {
        reverse_proxy ethernal-soketi:6001 {
            header_up Upgrade "websocket"
            header_up Connection "Upgrade"
        }
    }

    handle_path /sentry-dashboard* {
        basicauth {
            {$SENTRY_DASHBOARD_USERNAME} {$SENTRY_DASHBOARD_PASSWORD_HASH}
        }
        root * /srv/sentry-dashboard
        try_files {path} /index.html
        file_server
    }

    @landing host tryethernal.com www.tryethernal.com
    handle @landing {
        handle_path /blog/* {
            root * /srv/blog
            try_files {path} {path}.html {path}/index.html /index.html
            file_server
        }
        handle /blog {
            root * /srv/blog
            try_files /index.html
            file_server
        }
        handle {
            root * /srv/landing
            try_files {path} {path}.html {path}/index.html /index.html
            file_server
        }
    }

    handle {
        root * /srv/app
        try_files {path} /index.html
        file_server
    }

    encode gzip
}

# Wildcard cert for *.tryethernal.com subdomains (DNS challenge via Google Trust Services)
*.tryethernal.com {
    tls contact@tryethernal.com {
        ca https://dv.acme-v02.api.pki.goog/directory
        eab adaf0f2ddae7ae0f7466c40329d48f11 BhCCPZ7_J4pRIyf8JBxVkxeY2_Y3P8oJ5J6OS6vYs_ubGsbru7wc5OaGAFdAxMlTyCx_cXUk4nLuQpGh0VJN0lQ
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    import common
}

# Custom domains use on-demand TLS (HTTP challenge)
:443 {
    tls {
        on_demand
    }

    import common
}
