version: "3.9"

services:
  web: &backend
    volumes:
      - ./run/:/app
    build:
      context: .
      dockerfile: Dockerfile
      target: dev_back
    ports:
      - "8888:8888"
    env_file: run/.env
    command: nodemon index.js

  high_priority_worker:
    <<: *backend
    ports: []
    command: nodemon workers/highPriority.js

  medium_priority_worker:
    <<: *backend
    ports: []
    command: nodemon workers/mediumPriority.js

  low_priority_worker:
    <<: *backend
    ports: []
    command: nodemon workers/lowPriority.js

  front:
    extra_hosts:
      - "app.ethernal.local:0.0.0.0"
      - "*.ethernal.explorer:0.0.0.0"
    depends_on:
      - web
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
      - type: bind
        source: package.json
        target: /app/package.json
      - type: bind
        source: yarn.lock
        target: /app/yarn.lock
    build:
      context: .
      dockerfile: Dockerfile.front
    env_file: .env.development
