rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow write: if false;
    }
    match /users/{userId}/workspaces/{workspace}/{documents=**} {
      allow read: if (request.auth != null && request.auth.uid == userId) || get(/databases/$(database)/documents/users/$(userId)/workspaces/$(workspace)).data.public == true;
      allow write: if false;
    }
  }
}
