# fly.toml app configuration file generated for ethernal on 2023-06-14T09:48:23+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "ethernal"
primary_region = "ams"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[build]
  dockerfile = "Dockerfile"
  build-target = "prod_back"

[processes]
  api = "node index.js"
  hpworker = "node workers/highPriority.js"
  lpworker = "node workers/lowPriority.js"
  mpworker = "node workers/mediumPriority.js"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["api"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 500
    soft_limit = 200

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0

[[services]]
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  ports = []
  processes = ["hpworker"]
  [services.concurrency]
    type = "connections"
    hard_limit = 250
    soft_limit = 200

[[services]]
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  ports = []
  processes = ["mpworker"]
  [services.concurrency]
    type = "connections"
    hard_limit = 250
    soft_limit = 200

[[services]]
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  ports = []
  processes = ["lpworker"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
