@import 'theme-variables';
@import 'theme-transitions';

.logo {
    font-family: "Exo";
    font-weight: 600;
    color: rgb(var(--v-theme-primary));
}

.logo-white {
    font-family: "Exo";
    font-weight: 600;
    color: white;
}

div {
    > .v-divider--vertical {
        display: inline;
        vertical-align: middle;
    }
}

.v-icon.align-with-text {
    vertical-align: text-bottom !important;
}

#feedbackfin__container {
    font-family: 'Roboto';
}

a.underlined {
    text-decoration: underline !important;
}

.roundedModal {
    border-radius: 1.5rem;
}

.v-data-table {
    overflow-x: auto;
}

.v-data-table__wrapper {
    overflow-x: auto !important;
}

.v-data-table table {
    min-width: 100%;
    white-space: nowrap;
}

.raw-input {
    max-width: 71ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
}

.hide-table-count .v-data-table-footer__info {
    display: none !important;
}

:root {
    --onboard-modal-backdrop: rgb(var(--v-theme-primary), 0.2);
    --onboard-modal-z-index: 10000;
}

.no-decoration {
    text-decoration: none;
}

// Pagination button styles
.v-pagination {
  .v-btn {
    width: auto !important;
    padding-inline: 5px;
    min-width: 36px;
    border-color: rgb(var(--v-theme-primary), 0.25) !important;
    &--rounded {
      border-radius: 50%;
    }

    &__overlay {
      transition: none;
    }
  }

  &__prev,
  &__next {
    .v-btn {
      padding-inline: 0;
      width: 36px;
    }
  }

  &__item--is-active {
    .v-btn__overlay {
      opacity: var(--v-border-opacity);
    }
  }
}
