apiVersion: apps/v1
kind: Deployment
# The database credentials
username: postgres
password: nGsLgE6yJF3jcrhF
host: "10.49.112.4"
# The number of instances to run.
replicasCount: 1
# The maximum number of incoming client requests per instance.
maxClientConnections: 20000
serverIdleTimeout: 0
# The maximum number of upstream requests per instance.
poolSize: 40
# Resources for the pods. For PgBouncer it's critical that these match to provide guaranteed QoS.
# The chart therefore doesn't allow setting requests and limits separately.
cpu: 150m
memory: 200Mi
poolMode: transaction
# The custom node selector. Allows you to pick a specific Node Pools to deploy your workload onto. 
# By default this is off; see below.
# Set this to LoadBalancer to make PgBouncer available outside the cluster or CluserIP for only local access.
serviceType: LoadBalancer
# If you want access to your cluster but only in your internal VPC network leave the below setting.  Otherwise just delete it.
loadBalancerType: "Internal"
# If you use RazorSQL or another tool for DB inspection you might have to place this config into pgbouncer.ini with the below parameter. 
injectConfig: { ignore_startup_parameters: extra_float_digits }
