[Unit]
Description=Run tweet draft pipeline 1x/day

[Timer]
OnCalendar=*-*-* 12:30:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
