name: SH

on:
  release:
    types: [ published ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
      
      - name: Install deps
        run: yarn
        
      - name: Build
        run: yarn build
      
      - name: Commit
        run: |
          git config --local user.email "adechevigne@gmail.com"
          git config --local user.name "antoinedc"
          git pull origin master --ff
          git add dist/ -f
          git add functions/ -f
          git commit -m "Update" -a
      
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PUSH_TO_SH_TOKEN }}
          repository: tryethernal/ethernal-sh
          branch: master
     
