name: Test & Deploy

on: [push, workflow_dispatch]

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  test_back:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v1
        with:
          node-version: 17.1.0

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Paris

      - name: Install deps
        run: |
          cd run
          npm install

      - name: Run tests
        run: |
          cd run
          npm run test tests/
        env:
          ENCRYPTION_KEY: 382A5C31A96D38E3DF430E5101E8D07D
          ENCRYPTION_JWT_SECRET: 26F95488BA7D7E545B1B8669990739BB21A0A6D3EFB4910C0460B068BDDD3E1C
          AUTH_SECRET: 123
          STRIPE_WEBHOOK_SECRET: 123
          STRIPE_SECRET_KEY: 123

  test_front:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v1
        with:
          node-version: 17.1.0

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Paris

      - name: Install deps
        run: yarn

      - name: Run tests
        run: npm run test:unit
        env:
          VUE_APP_API_ROOT: http://localhost:8081

  deploy_back:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test_back]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup credentials
        run: |
          echo "$GCLOUD_CREDENTIALS" >> ethernal-95a14-19f78a7e26cc.json
        shell: bash
        env:
          GCLOUD_CREDENTIALS: ${{ secrets.GCLOUD_CREDENTIALS }}

      - name: Deploy
        uses: superfly/flyctl-actions/setup-flyctl@master
        run: flyctl deploy . -c fly.toml --remote-only --build-only --build-target prod

  deploy_front:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test_front]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get tag
        id: get_tag
        run: |
          echo ::set-output name=current_version::${GITHUB_REF#refs/tags/v}
        shell: bash

      - name: Get Changelog Entry
        id: get_changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          validation_depth: 10
          version: ${{ steps.get_tag.outputs.current_version }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          body: ${{ steps.get_changelog.outputs.changes }}
          tag: ${{ steps.get_changelog.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger Netlify deploy
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/${{ secrets.NETLIFY_BUILD_HOOK_ID }}?trigger_branch=master&trigger_title=Triggered+by+Github+Actions
