name: Test & Deploy

on: [push, workflow_dispatch]

jobs:
  test_back:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache firebase emulators
        uses: actions/cache@v2
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-emulators-${{ hashFiles('~/.cache/firebase/emulators/**') }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.9.1

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Paris

      - name: Install deps
        run: |
          cd functions
          npm install -g firebase-tools@10.1.5 firebase-functions
          npm install

      - name: Setup environment
        run: |
          cp functions/tests/fixtures/.runtimeconfig.json ./functions/

      - name: Run tests
        run: |
          firebase emulators:exec \
            'FIREBASE_CONFIG="{\"projectId\": \"ethernal-test\",\"databaseURL\": \"http://localhost:9000/?ns=ethernal-test\"}" \
            FIRESTORE_EMULATOR_HOST="localhost:8080" \
            FIREBASE_DATABASE_EMULATOR_HOST="localhost:9000" \
            GCLOUD_PROJECT=ethernal-test \
            npm run test --prefix functions/'

  test_front:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache firebase emulators
        uses: actions/cache@v2
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-emulators-${{ hashFiles('~/.cache/firebase/emulators/**') }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.9.1

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Paris

      - name: Install deps
        run: |
          yarn
          npm install -g firebase-tools firebase-functions
          cd functions && npm install

      - name: Setup environment
        run: |
          cp functions/tests/fixtures/.runtimeconfig.json ./functions/

      - name: Run tests
        run: firebase emulators:exec --token ${{ secrets.FIREBASE_TOKEN }} "yarn test:unit"
        env:
          VUE_APP_FIREBASE_API_KEY: 123
          VUE_APP_FIREBASE_PROJECT_ID: ethernal-test
          VUE_APP_AUTH_HOST: http://localhost:9099
          VUE_APP_FIRESTORE_HOST: localhost:8080
          VUE_APP_RTDB_HOST: localhost:9000
          VUE_APP_FIREBASE_DATABASE_URL: http://localhost:9000/?ns=ethernal-test-default-rtdb
          VUE_APP_FUNCTIONS_HOST: http://localhost:5001
          VUE_APP_API_ROOT_URL: http://localhost:8081
          VUE_APP_ROOT_URL: http://localhost:8081
          VUE_APP_ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN__TOKEN }}
          FIRESTORE_EMULATOR_HOST: localhost:8080

  deploy_saas:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test_front, test_back]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get tag
        id: get_tag
        run: |
          echo ::set-output name=current_version::${GITHUB_REF#refs/tags/v}
        shell: bash

      - name: Get Changelog Entry
        id: get_changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          validation_depth: 10
          version: ${{ steps.get_tag.outputs.current_version }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          body: ${{ steps.get_changelog.outputs.changes }}
          tag: ${{ steps.get_changelog.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger Netlify deploy
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/${{ secrets.NETLIFY_BUILD_HOOK_ID }}?trigger_branch=master&trigger_title=Triggered+by+Github+Actions
