name: Unit Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Cache firebase emulators
        uses: actions/cache@v2
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-emulators-${{ hashFiles('~/.cache/firebase/emulators/**') }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.9.1

      - name: Install deps
        run: |
          yarn
          cd functions && npm install

      - name: Run Tests
        run: |
          npm install -g firebase-tools firebase-functions
          firebase emulators:exec "yarn test:unit"
