name: Unit Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Cache firebase emulators
        uses: actions/cache@v2
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-emulators-${{ hashFiles('~/.cache/firebase/emulators/**') }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.9.1

      - name: Install deps
        run: |
          yarn
          npm install -g firebase-tools firebase-functions
          cd functions && npm install

      - name: Setup environment
        uses: w9jds/firebase-action@master
        with:
          args: functions:config:get > .runtimeconfig.json
          # args: functions:config:set encryption.jwt_secret=${{ secrets.ENCRYPTION__JWT_SECRET }} encryption.key=${{ secrets.ENCRYPTION__KEY }} fb.token=${{ secrets.FIREBASE_TOKEN }} etherscan.token=${{ secrets.ETHERSCAN__TOKEN }}
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }} 

      - name: Run tests
        run: firebase emulators:exec --token ${{ secrets.FIREBASE_TOKEN }} "yarn test:unit"
        env:
          VUE_APP_FIREBASE_API_KEY: 123
          VUE_APP_FIREBASE_PROJECT_ID: ethernal-test
          VUE_APP_AUTH_HOST: http://localhost:9099
          VUE_APP_FIRESTORE_HOST: localhost:8080
          VUE_APP_RTDB_HOST: localhost:9000
          VUE_APP_FIREBASE_DATABASE_URL: http://localhost:9000/?ns=ethernal-test-default-rtdb
          VUE_APP_FUNCTIONS_HOST: http://localhost:5001
          VUE_APP_API_ROOT_URL: http://localhost:8081
          VUE_APP_ROOT_URL: http://localhost:8081
          VUE_APP_ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN__TOKEN }}
          FIRESTORE_EMULATOR_HOST: localhost:8080

